:root {
  /* Marca */
  --color-brand: #1db954; /* Verde Spotify */
  --color-brand-hover: #1ed760; /* Verde hover */

  /* Fondos */
  --color-bg-dark: #191414; /* Negro Spotify */
  --color-bg-secondary: #282828; /* Gris oscuro tarjetas */

  /* Textos */
  --color-text-primary: #ffffff;
  --color-text-secondary: #b3b3b3;
  --color-text-muted: #6a6a6a;

  /* Bordes */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-full: 500px; /* Para botones en píldora */

  /* separadores */
  --color-border: #333333;

  /* Tamaños */
  --spacing-xs: 0.25rem; /*  4px */
  --spacing-sm: 0.5rem; /*  8px */
  --spacing-md: 1rem; /* 16px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 4rem; /* 64px */
  --spacing-2xl: 6rem; /* 96px */

  /* Font */
  --font-base: 'Montserrat', 'DM Sans', Helvetica, Arial, sans-serif;
  
  --font-size-xs: 0.75rem; /*  12px */
  --font-size-sm: 0.875rem; /*  14px */
  --font-size-base: 1rem; /*  16px */
  --font-size-md: 1.125rem; /*  18px */
  --font-size-lg: 1.5rem; /*  24px */
  --font-size-xl: 2rem; /*  32px */
  --font-size-2xl: 3rem; /*  48px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: var(--font-size-base);
  }

  .navbar {
    display: flex;
  }

  #hamburger {
    display: none;
  }
  
  .links a {
    color: black;
  }

  .hero {
    background-size: cover;
    background-position: center;
    height: 450px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-text-primary);
  }

  .articles-container {
    display: flex;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    justify-content: center;
  }

  .articles-container article {
    flex: 1;
    margin-left: 0%;
  }

  .articles-container img {
    max-width: 100%;
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }

  footer section {
    flex: 1;
    margin-right: 30px;
  }

  .footer-icon {
    display: inline-block;
    margin-right: 30px;
    max-width: 90px;
  }

  .app-spotify {
    max-width: 200px;
  }
}